/* Estilos padrão para dispositivos móveis */
.art-gallery {
    overflow: hidden; 
  }
  
  .carousel {
   -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
    overflow-x: scroll;
    display:flex;
  }
  .carousel::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .carousel-item {
    flex: 0 0 350px;
    height: 500px;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .carousel-item img {
    max-width: 90%;
    max-height: 100%;
    border-radius: 5px;
    margin-left: 25px;
    border: 2px solid transparent;
    background: linear-gradient(to bottom, #ffd700, white);
  }
  
  .text {
    background: linear-gradient(to right, #ffd700, #c0c0c0);
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 25px;
  }

  .description {
    overflow: hidden;
    white-space: break-spaces;
    margin-left: 25px;
    margin-top: -10px;
    color: white;
    font-size: medium;
    animation: stretchTextDesktop 2s infinite alternate;
  }

  @keyframes stretchTextDesktop {
    0% {
      transform: scaleX(1);
      transform-origin: left;
    }
    100% {
      transform: scaleX(1.1);
      transform-origin: left;
    }
  }
  
  /* Estilos específicos para desktops */
  @media screen and (min-width: 768px) {
    .description {
      overflow: hidden;
      white-space: break-spaces;
      margin-left: 25px;
      color: white;
      font-size: larger;
      animation: stretchTextDesktop 3s infinite alternate;
    }

    .text {
        font-size: 40px;
    }
  
    @keyframes stretchTextDesktop {
      0% {
        transform: scaleX(1);
        transform-origin: left;
      }
      100% {
        transform: scaleX(1.1);
        transform-origin: left;
      }
    }
  }
  